<div class="Contenedor">
  <mat-form-field>
  <input matInput [(ngModel)]="num1" type="number" placeholder="X 1">
  </mat-form-field>
  <mat-form-field>
    <input matIput [(ngModel)]="num2" type="number" placeholder="X 2">
  </mat-form-field>
  <mat-form-field>
  <input matInput [(ngModel)]="num3" type="number" placeholder="Y 1">
  </mat-form-field>
  <mat-form-field>
    <input matIput [(ngModel)]="num4" type="number" placeholder="Y 2">
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="calcular()">Calcular</button>
  <h3><p>El resultado de distancias es: {{resultado}} </p></h3>
  </div>
