<app-menu></app-menu>
<div class="container">
  <div class="row">
<!--
    <p> Hola mundo</p>

    <div>
    <h1>IDGS 902</h1>
    </div>

    <div>
      {{title}}
    </div>

    <div>La suma de 2 + 2 es: {{2+2}}</div>
    <div>El doble de 3 es: {{duplicaN(3)}} </div>

      <hr>

    <div>
    <b>Matricula: </b>{{alumno.matricula}}
    </div>

    <div>
    <b>Nombre: </b>{{alumno.nombre | uppercase}}
    </div>

    <div>
      <b>Apellido paterno: </b>{{alumno.apaterno | lowercase}}
    </div>

    <div>
      <b>Inscrito: </b>{{alumno.Inscrito | currency}}
    </div>

    <div>
      <b>Fecha: </b>{{alumno.fechaNacimiento | date:"dd-MM-yy"}}
    </div>
  </div>
</div>

  <div>
  <hr>
  <div class="container">
<app-grupos></app-grupos>
</div>
<hr>
<div class="container">
<app-idgs902></app-idgs902>
</div>
<hr>
<div class="container">
<app-idgs></app-idgs>
</div>
<hr>
<div class="container"> -->
<!-- <app-iric></app-iric> -->
<!-- <app-suma></app-suma> -->
<!-- <app-operas-bas></app-operas-bas> -->

<app-distancia-puntos></app-distancia-puntos>
</div>
<br>
</div>
